/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General */
body{
    font-family:'Rubik Mono One', sans-serif;
    background-color: #7FFFD4;
}

header {
    background-color: #fff;
    height: 80px;
    padding: 15px;
}

footer { 
    height: 60px;
    background-color: #fff;
    padding-left: 15px;
}

h1 {
    display: inline-block;
    font-weight: 800;
    font-size: 32px;
}

/* Utilities */
.container{
    max-width: 1000px;
    margin: 0 auto;
    height: calc(100vh - 140px);
    padding-top: 80px;
}

img {
    max-width: 100%;
}

 /* barra superiore */
.topbar {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 80px;
    vertical-align: middle;
}

.topbar img {
    vertical-align: middle;
    margin-right: 15px;
}

.left-bar {
    display: flex;
    align-items: center;
}

/* bottone play */
#playBtn {
    padding: 5px 15px;
    border-radius: 15px;
    cursor: pointer;
}

/* barra inferiore */
.bottom-bar {
    line-height: 60px;
}

.bottom-bar p {
    vertical-align: middle;
}

/* griglia */
#grid {
    height: 600px;
    width: 600px;
    margin: 0 auto;
    display: flex;
    flex-wrap:wrap;
}

/* celle */
.cell {
    background-color: black;
    color: #fff;
    border: 2px solid #fff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

 /* cella piccola */
.cell.small {
    flex-basis: calc(100% / 10);
}

/* cella media */
.cell.medium {
    flex-basis: calc(100% / 9);
}

/* cella grande */
.cell.big {
    flex-basis: calc(100% / 7);
}

.cell.clicked {
    background-color: lightblue;
}

.cell:hover {
    transform: scale(1.1);
}